body {
 font-family: 'Lato', sans-serif;
 font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Prata', serif;
}

.loader{
    position: absolute;
    z-index: 99999;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: wait;
    top: 0;
    left: 0;
    display: block;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    min-height: 32px;
}

.item-player {
    position: relative;
    border-radius: 0;
    background: #efefef;
    margin-bottom: 1px;
    text-align: right;
}

.item-position {
    position: absolute;
    display: block;
    height: 100%;
    width: 30px;
    font-size: 1.2em;
    font-family: 'Prata', serif;
}

.app-status-wrapper {
    height: 2em;
    text-overflow: hidden;
    white-space: nowrap;
}

.glow {
    background: #fff;
    opacity: 0.75;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}